.filter {
    text-align: left;
    margin: 3em 0 1em 10.65em;
}

.form-select {
    width: auto;
    border: 1px solid #212529;
}

@media screen and (max-width: 992px){ 
    .form-select {
        width: 70%;
        margin-left: 4.6em auto;
    }

}