.menu-item {

    margin: 2em 1.85em;

    .card {
        height: 25em;
        width: 20em;
        padding: 0.75em 1.5em;
    }

    .inc-dec-btn-group {
        display: flex;
        justify-content: center;
        align-items: unset;
    }

    .modify-btn-group {
        display: flex;
        justify-content: flex-end;
        z-index: 1;
    }

    .icon-btn {
        color: #000;
        margin: 0 0.5em;
    }

    .card-img-top {
        height: 11.25em;
    }

    .img-margin {
        margin-top: 2.5em;
    }
}
