.header {
    padding: 1.25em;

    form {
        justify-content: center;
        margin-left: 2em;
    }
    .dropdown-custom
    {
        width: auto;
    }

    @media screen and (max-width: 992px){ 
        form {
            margin: 1em auto;
        }
    }

    .search-bar {
        width: 23em;
    }

    .search-icon, .search-icon:hover, .search-icon:active  {
        border: none;
        color: white;
        background: none;
        box-shadow: none;
    }

    .icon-btn {
        height: 2.5em;
    }

    .custom-icon {
        font-size: 1.25em;
    }

    .icon-btn-group {
        width: 26em;
        display: flex;
        justify-content: flex-end;
    }
}
