.header {
    padding: 1.25em;
    background: #9a1750 !important;

    .container {
        padding: 0;
    }

    .navbar-brand {
        font-size: 1.5em;
        font-style: italic;
        color: white;
    }

    form {
        justify-content: center;
        margin-left: 17.5em;
    }

    @media screen and (max-width: 992px){ 
        form {
            margin: 1em auto;
        }   
    }

    .search-bar {
        width: 23em;
    }

    .search-icon, .search-icon:hover, .search-icon:active  {
        border: none;
        color: white;
        background: none;
        box-shadow: none;
    }

    .icon-btn {
        height: 2.5em;
    }

    .custom-icon {
        font-size: 1.25em;
    }

    .icon-btn-group {
        width: 25em;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
    }
}
